<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mi trayectoria</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/unab.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-2024</h4>
                                    <h4 class="subheading">Universidad Andrés Bello</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">En el año 2020 ingresé a la Universidad Andrés Bello, la cual me nutrió de nuevos y desafiantes conocimientos respecto a la informática e ingeniería, los cuales finalicé en el año 2024.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/penaflor.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2023</h4>
                                    <h4 class="subheading">Municipalidad de Peñaflor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">En el año 2023 trabajé en la Municipalidad de Peñaflor, donde llevé a cabo numerosos proyectos, recibí excelentes calificaciones por parte de mis colegas y obtuve una carta de recomendación del director del área.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ciber.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enero 2024</h4>
                                    <h4 class="subheading">Ciberseguridad</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Realicé diferentes cursos de Ciberseguridad, en el área de Pentesting, obteniendo certificados y sólidas bases cibernéticas. Tengo como meta obtener a corto y mediano plazo las certificaciones eJPT y eWPT.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/trabajo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2024 ~ 2025</h4>
                                    <h4 class="subheading">Inserción laboral</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Actualmente estoy buscando nuevas oportunidades para llenarme de nuevos conocimientos y alcanzar la excelencia. Si estás interesado en trabajar conmigo, ¡comunícate conmigo!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>¡Se parte
                                    <br>de nuestra
                                    <br>Historia!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>