<!-- Clients Aside -->
    <!-- Sección lateral para clientes -->
    <!--<aside class="clients">-->
        <!-- Contenedor -->
        <!--<div class="container">-->
            <!-- Fila -->
            <!--<div class="row">-->
                <!-- Columna (1 de 4) en dispositivos medianos, 1 de 2 en dispositivos pequeños -->
                <!--<div class="col-md-3 col-sm-6">-->
                    <!-- Enlace a una URL (sin especificar) -->
                    <!--<a href="#">-->
                        <!-- Imagen con ruta relativa "img/logos/envato.jpg", clase para respuesta de imagen centrada -->
                        <!--<img src="img/logos/envato.jpg" class="img-responsive img-centered" alt="">-->
                    <!--</a>-->
                <!--</div>-->
                <!-- Fin de la primera columna -->

                <!-- Columna (2 de 4) en dispositivos medianos, 1 de 2 en dispositivos pequeños -->
                <!--<div class="col-md-3 col-sm-6">-->
                    <!-- Enlace a una URL (sin especificar) -->
                    <!--<a href="#">-->
                        <!-- Imagen con ruta relativa "img/logos/designmodo.jpg", clase para respuesta de imagen centrada -->
                        <!--<img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">-->
                    <!--</a>-->
                <!--</div>-->
                <!-- Fin de la segunda columna -->

                <!-- Columna (3 de 4) en dispositivos medianos, 1 de 2 en dispositivos pequeños -->
                <!--<div class="col-md-3 col-sm-6">-->
                    <!-- Enlace a una URL (sin especificar) -->
                    <!--<a href="#">-->
                        <!-- Imagen con ruta relativa "img/logos/themeforest.jpg", clase para respuesta de imagen centrada -->
                        <!--<img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">-->
                    <!--</a>-->
                <!--</div>-->
                <!-- Fin de la tercera columna -->

                <!-- Columna (4 de 4) en dispositivos medianos, 1 de 2 en dispositivos pequeños -->
                <!--<div class="col-md-3 col-sm-6">-->
                    <!-- Enlace a una URL (sin especificar) -->
                    <!--<a href="#">-->
                        <!-- Imagen con ruta relativa "img/logos/creative-market.jpg", clase para respuesta de imagen centrada -->
                        <!--<img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">-->
                    <!--</a>-->
                <!--</div>-->
                <!-- Fin de la cuarta columna -->
            <!--</div>-->
            <!-- Fin de la fila -->
        <!--</div>-->
        <!-- Fin del contenedor -->
    <!--</aside>-->
    <!-- Fin de la sección lateral para clientes -->
