<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Los servicios que ofresco</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mi Blog</h4>
                    <p class="text-muted">Un blog donde publico mis guías de distinta indole, en el marco de la ciberseguridad</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ingenieria</h4>
                    <p class="text-muted">Como licenciado en Ingenieria, estoy capacitado para llevar a cabo proyectos, su documentación y todo lo relacionado a ello</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ciberseguridad</h4>
                    <p class="text-muted">Mi area de especialización es la ciberseguridad, concretamente el equipo Red Team, Pentester. Estoy capacitado en multiples herramientas y me sigo capacitando constantemente</p>
                </div>
            </div>
        </div>
    </section>