<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading text-muted">Los servicios que ofresco</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <a href="https://isaacrd.github.io">
                        <img src="/img/icons/blog.png" alt="img blog" width="100" height="100">
                        </a>
                    </span>
                    <h4 class="service-heading">Mi Blog</h4>
                    <p class="text-muted">Un blog donde publico mis guías de distinta indole, en el marco de la ciberseguridad</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="/img/icons/ingenieria.png" alt="img ingenierìa" width="100" height="100">
                    </span>
                    <h4 class="service-heading">Ingeniería</h4>
                    <p class="text-muted">Como licenciado en Ingenieria, estoy capacitado para llevar a cabo proyectos, su documentación, gráficos UML, etc.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="/img/icons/ciberseguridad.png" alt="img ciberseguridad" width="100" height="100">
                    </span>
                    <h4 class="service-heading">Ciberseguridad</h4>
                    <p class="text-muted">Mi area de especialización es la ciberseguridad, concretamente el equipo Red Team, Pentester. Estoy capacitado en multiples herramientas y me sigo capacitando constantemente</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="/img/icons/informe.png" alt="img informe" width="100" height="100">
                    </span>
                    <h4 class="service-heading">Informes</h4>
                    <p class="text-muted">Elaboración de informes de auditorías a clientes, que buscan constantemente mantener sus servicios seguros ante ataques cibernéticos.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="/img/icons/informeautomatico.png" alt="img informes automatizados" width="100" height="100">
                    </span>
                    <h4 class="service-heading">Informes automatizados</h4>
                    <p class="text-muted">Elaboración de informes automatizados para los clientes que necesitan llevar un control exhaustivo de sus datos.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img src="/img/icons/desarrollo-web.png" alt="img desarrollo-web" width="100" height="100">
                    </span>
                    <h4 class="service-heading">Desarrollo web WordPress</h4>
                    <p class="text-muted">Creación de páginas web con WordPress, utilizando múltiples herramientas que ofrecen una gran experiencia para sus clientes.</p>
                </div>
            </div>
        </div>
    </section>